._container{
  padding: 30px;
}

._container h3{
  color:rgb(30,30,30);
  margin-bottom: 0px
}

._container h4{
  color:rgb(30,30,30);
  margin-top: 5px;
  margin-bottom: 5px
}
.OverlayClass {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.buttonGroup {
  position: relative;
  width:300px;
  left: 73%;
}
.cancelButton {
  margin-right: 40px
}
.mainPageAddButton {
  height: 24px
}
